.store-name {
  font-size: 1.5rem;
  line-height: 1.2;
  max-width: 150px;
}

.cart-button {
  background: none;
  border: none;

    > span {
      position: absolute;
      top: calc(-1rem / 15);
      right: calc(-1rem / 15);
      font-size: 12px;
      border-radius: 50%;
      width: 1.25rem;
      height: 1.25rem;
      align-items: center;
      justify-content: center;
  }

  &:hover {
    background-color: transparent !important; 
    color: inherit !important;
    border-color: transparent !important;
  }
}